 <!-- Start banner -->
 <div class="banner">
  <div class="container-fluide">
      <div class="banner-content">
          <div class="banner-text">
              <p>BEST ONLINE EDUCATION SERVICE IN THE WORLD</p>
              <h1>ONE STEP AHEAD THIS SEASON</h1>
              <a routerLink="/survey" class="signup" href="###">Get Start</a>
          </div>
      </div>
  </div>
</div>
<!-- End banner -->

<!-- Start Feature -->
<section class="feature-area">
  <div class="container">
      <div class="feature">
          <div class="feature-content">
              <h2>Awesome Feature</h2>
              <p>Replenish man have thing gathering lights yielding shall you</p>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="single-feature">
                      <div class="docs text-left">
                          <i class="fa fa-home fa-3x"></i>
                          <h4>Scholarship Facility</h4>
                          <p>One make creepeth, man bearing theira firmament won't great heaven</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-feature">
                      <div class="docs text-left">
                          <i class="fa fa-home fa-3x"></i>
                          <h4>Scholarship Facility</h4>
                          <p>One make creepeth, man bearing theira firmament won't great heaven</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-feature">

                      <div class="docs text-left">
                          <i class="fa fa-home fa-3x"></i>
                          <h4>Scholarship Facility</h4>
                          <p>One make creepeth, man bearing theira firmament won't great heaven</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- End Feature -->

<!-- Start Quality representative -->
<section class="quality">
  <div class="container">
      <div class="row">
          <div class="quality-image col-lg-5 ">
              <!-- <img src="./image/nik-macmillan-280300-unsplash.jpg" width="400px" height="300px"> -->
          </div>
          <div class="quality-description col-lg-7 text-left">
              <h4>Welcome to our Questionnaire</h4>
              <p>OSubdue whales void god which living don't midst lesser yielding over lights whose.
                  Cattle greater brought sixth fly den dry good tree isn't seed stars were.
              </p>
              <p>
                  Subdue whales void god which living don't midst lesser yieldi over lights whose.
                  Cattle greater brought sixth fly den dry good tree isn't seed stars were the boring.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="quality-description-1 col-lg-7 text-left">
              <h4>Welcome to our Questionnaire</h4>
              <p>OSubdue whales void god which living don't midst lesser yielding over lights whose.
                  Cattle greater brought sixth fly den dry good tree isn't seed stars were.
              </p>
              <p>
                  Subdue whales void god which living don't midst lesser yieldi over lights whose.
                  Cattle greater brought sixth fly den dry good tree isn't seed stars were the boring.
              </p>
          </div>
          <div class="quality-image-1 col-lg-5">
              <!-- <img src="./image/nik-macmillan-280300-unsplash.jpg" width="400px" height="300px"> -->
          </div>
      </div>
  </div>

</section>

<!-- Start Quality representative -->
