
/* Bootstrap css file  */
@import "./assets/css/bootstrap.min.css";

/* FontAwesome Icons Font File  */
@import "~font-awesome/css/font-awesome.css";

.data-table,
.data-table tr,
.data-table th,
.data-table td,
.data-table tbody {
  border: 2px solid #999;
}

body {
  font-family: 'Ubuntu', sans-serif ,;
  font-size: 16px;
  background-color: #eee;
}
